/* Main CSS File */
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: arial,helvetica,sans-serif;
}

/* Main Site Styles */
div#site {
    width: 100%;
    max-width: 901px;
    margin: 0 auto;
    height: 100%;
}

.top-bar {
    width: 100%;
    max-width: 901px;
    /*background: antiquewhite;*/
    overflow: hidden;
    border-bottom: 1px solid;
}

.logo {
	float: left;
}

nav {
	float: right;
	height: 5em;
}

ul.navul {
	list-style-type: none;
	margin: 0;
    padding: 0;
    margin-top: 2em;
}

li.navlinks {
	display: inline-block;
	margin-right: 1em;
}

li.navlinks > a {
	text-decoration: none;
	color: black;
	padding: 10px;
}

li.navlinks > a:hover {
	text-decoration: none;
	color: black;
	background-color: #eee;
}

.wrapper {
	width: 100%;
	overflow: hidden;
}

.col-left-60 {
	float: left;
	width: 62%;
}

.col-right-40 {
	float: right;
	width: 38%;
	
}

.widget-ad {
	width: 320px;
	height: 100px;
	background: #e3e3e3;
	text-align: center;
	border-radius: 1px;
	margin-left: 1em;
	margin-top: 1em;
}

/* Styles for blog posts excerpts */
.post-excerpt {
    background: #fff;
    width: 100%;
    color: black;
}

.post-excerpt:hover {
	background: #eee;
}

h2.post-h2 {
	text-align: center;
	margin-bottom: 0;
}

p.post-sub-desc {
	text-align: center;
	margin-top: 0;
}

.post > p {
	line-height: 1.75;
}

/* Styles for post links on homepage */
a.post-link {
	text-decoration: none;
}

/* Styles for Blog Posts */
ul.posts {
	list-style-type: none;
	padding: 0;
}

.post-holder > img {
	width: 100%;
}

img.featured-image {
	width: 100%;
}