---
layout: default
title: Tech News/Reviews and Daily Life
tags:
- Ben,
- Ben Sanders,
- Web Developer,
- Pokemon,
- Technology
---
<!-- Test -->
	<ul class="posts">
		{% for post in site.posts %}
		{% assign currentdate = post.date | date: "%Y" %}
			{% if currentdate != date %}
			<li class="post-year"><h3>{{ currentdate }}</h3></li>
    		{% assign date = currentdate %} 
    		{% endif %}
    		<li>
			<a class="post-link" href="{{ post.url }}">
				<div class="post-holder">
					<div class="post-excerpt">
						{{ post.excerpt }}
					</div>
				</div>
			</a>
			</li>
		{% endfor %}
	</ul>