<div class="share-page">
    <a class="twitter-share tooltip" onclick="window.open('https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}','newwindow','width=640,height=640'); return false" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter, Opens in a new window.">
      <span>
      <img src="https://g.twimg.com/dev/documentation/image/Twitter_logo_white_16.png">
      Twitter
    </span>
    </a>
    <a class="fb-share tooltip" onclick="window.open('https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}','newwindow','width=640,height=640'); return false" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook, Opens in a new window.">
      <span>
        <img src="/images/social-icons/FB-f-Logo__white_100.png" style="width: 16px">
        Facebook
      </span>
    </a>
</div>
