</div>
<footer>
	<div id="footer-inner">
		<div class="footer-left">
			<ul class="footer-ul">
				<li class="footer-li"><a href="/home" title="Home">Home</li>
				<li class="footer-li"><a href="/about" title="About Me">About Me</li>
				<li class="footer-li"><a href="/posts" title="Archives">Archives</li>
				<li class="footer-li">
				<a href="/feed.xml" title="RSS Feed">
				RSS
				<svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			            <g id="Artboard-1" transform="translate(-71.000000, -38.000000)" fill="#9698a0">
			                <g id="Feed-icon" transform="translate(71.000000, 38.000000)">
			                    <circle id="Oval" cx="1.64571429" cy="10.3542857" r="1.64571429"></circle>
			                    <path d="M7.95428571,12 L5.62285714,12 C5.62285714,8.89458175 3.10541825,6.37714286 4.4408921e-16,6.37714286 L4.4408921e-16,4.04571429 C4.3930307,4.04571429 7.95428571,7.6069693 7.95428571,12 L7.95428571,12 Z" id="Shape" sketch:type="MSShapeGroup"></path>
			                    <path d="M9.6,12 C9.6,6.6980664 5.3019336,2.4 1.77635684e-15,2.4 L1.77635684e-15,0 C6.627417,1.46168791e-15 12,5.372583 12,12 L9.6,12 Z"></path>
			                </g>
			            </g>
			        </g>
			    </svg>
				</li>
			</ul>
		</div>
	</div>
</footer>
<!-- <script type="text/javascript" src="https://bensanders.me/javascript/analytics.js/"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript">
	function init() {
				$(document).on("scroll",function(){
					if($(document).scrollTop()>100) {
						$("header").removeClass("large").addClass("small");
					} else {
						$("header").removeClass("small").addClass("large");
					}
				});
	}

	window.onload = init();

</script>
</body>
</html>
