</div>
<footer>
	<!-- <div class="footer-left">
		<dl>
			<dt>SiteMap</dt>
			<dd>Home</dd>
			<dd>About Me</dd>
			<dd>Archives</dd>
		</dl>
	</div>
	<div class="footer-center">

	</div>
	<div class="footer-right">

	</div> -->
</footer>
<!-- <script type="text/javascript" src="https://bensanders.me/javascript/analytics.js/"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript">
	function init() {
				$(document).on("scroll",function(){
					if($(document).scrollTop()>100) {
						$("header").removeClass("large").addClass("small");
					} else {
						$("header").removeClass("small").addClass("large");
					}
				});
	}

	window.onload = init();

</script>
</body>
</html>
