<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div class="top-bar">
		<div class="top-bar-inner">
			<div class="logo">
				<h1>Ben Sanders</h1>
			</div>
			<nav>
				<ul>
					<li><a href="/" title="Home">Home</a></li>
					<li><a href="about" title="About Me">About Me</a></li>
					<li><a href="photos" title="Photography">Photography</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="wrapper">
		<div class="col-right-60">
			{{ content }}
		</div>
		<div class="col-left-40">
			<div class="widget">
				Sidebar Goes here!
			</div>
		</div>
	</div>
	<footer>
		
	</footer>
</body>
</html>