{% include header.html %}
	<div class="wrapper">
		<div class="awesome-link">
			<span>Awesome Link</span>
			<span><a href="https://www.patreon.com/thebensanders?ty=h" title="memed" target="_blank">I opened a patreon - check it out! (if ya want)</a></span>
		</div>
		<div class="col-left-60">
			{{ content }}
		</div>
		<div class="col-right-40">
			<div class="widget-signup">
				{% include mailchimp-signup-form.html %}
			</div>
			<div class="widget-ad">

			</div>
		</div>
	</div>
{% include footer.html %}
